/src/apps/accounting/ @Alvin-MXK @visonalhal @phuud @richard-li-next
/src/apps/managed-carrier-portal/ @Alvin-MXK @visonalhal @phuud @richard-li-next @Rey-Wang @HectorHann @helloworld-Andrew @cj768025549 @WinterGou
/src/apps/shipper-portal/ @dannynext @oleglab @rizocki-NT
/src/apps/shippers/ @dannynext @oleglab @rizocki-NT
/src/apps/trips/features/freight-documents/ @ali-k-h @CN-go @minjl
/src/apps/carriers/ @ali-k-h @CN-go @minjl
